h2 {
  margin: 0px 0px 20px 0px;
}

.messagesWrapper {
  display: grid;
  gap: 50px;
  grid-template-columns: 3fr 9fr;
}

.personList {
  /*  border: 2px solid black;*/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person {
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}

.person:hover {
  background-color: black;
}

.person__avatar {
  width: 50px;
}

.person__name {
  font-size: 22px;
  font-weight: 500;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 3px solid black;
  padding: 20px 40px;
}

.messages__item {
  position: relative;
  max-width: 350px;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.messages__item:nth-child(odd) {
  align-self: flex-end;
  background-color: grey;
  color: #ffffff;
}

.messages__item::after {
  position: absolute;
  top: -2px;
  z-index: -1;
  left: 0;
  transform: translateX(-65%);
  content: '';
  border: 15px solid transparent;
  border-top: 15px solid black;
  border-right: 15px solid black;
}

.messages__item:nth-child(odd)::after {
  display: none;
}

.messages__item:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: -2px;
  z-index: -1;
  right: 0;
  transform: translateX(65%);
  border: 15px solid transparent;
  border-left: 15px solid black;
  border-top: 15px solid black;
}
