.posts {
  width: 80%;
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  margin: 0px 0px 10px 0px;
}
.newPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding: 10px;
  font-size: 16px;
  resize: vertical;
}
.button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: black;
  color: white;
  align-self: flex-end;
}

.button:hover {
  background-color: grey;
}

.list {
  align-self: center;
  display: flex;

  flex-direction: column;
  gap: 30px;
  width: 60%;
}
