.navbar{
   grid-area: navbar;
   background-color: grey;
   padding: 20px;
}

.list {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}


.link{
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: 500;
}

.link:hover{
   text-decoration: underline;
}