.post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.post__body {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.avatar {
  width: 50px;
}

.post__like {
  display: flex;
  gap: 5px;
  align-self: flex-end;
}
.post__like span {
  font-weight: 500;
}

.post__like img {
  width: 20px;
}
