.paginationItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  color: black;
  min-height: 30px;
  min-width: 30px;
  font-weight: 700;
}

.paginationItem:hover {
  background-color: grey;
}

.current {
  background-color: black;
  color: white;
}
