ul{
   list-style: none;
}

.header img {
   width: 50px;
}

.app-wrapper{
   display: grid;
   gap: 20px;
   grid-template-columns: 2fr 10fr;
   grid-template-rows: 60px 1fr;

   grid-template-areas: 
   "header header"
   "navbar content";
}

.header{
   grid-area: header;
   background-color: grey;
}
.navbar{
   grid-area: navbar;
   background-color: grey;
}
.content{
   grid-area: content;
}