*{
   padding: 0;
}

ul{
   list-style: none;
}

.app-wrapper{
   display: grid;
   gap: 20px;
   grid-template-columns: 2fr 10fr;
   grid-template-rows: 60px 1fr;

   grid-template-areas: 
   "header header"
   "navbar content";
}



